<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <title>Sachs's Meth House</title>
      <script src="static/farm.js"></script>
  </head>

  <body>
    <h1>Sach's Drug Farm</h1>
    <button onclick="grow('cocaine')">Grow Cocaine</button><br>
    <button onclick="grow('meth')">Grow Meth</button><br>
    Meth grown: <span id="grownMeth"></span>kg<br>
    Cocaine grown: <span id="grownCocaine"></span>kg<br>
    Meth available: <span id = "stockMeth"></span>kg<br>
    Cocaine available<span id = "stockCocaine"></span>kg
  </body>
</html>