<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <title>Sachs's Meth House</title>
      <script src="static/house.js"></script>
  </head>

  <body onload="Onload()">
    <h1>Drug House</h1>
    Meth: <span id="meth_smoked"></span>kg<br>
    Cocaine: <span id="coke_smoked"></span>kg<br>
    <button onclick = "Smoke('meth')">Smoke Meth</button><br>
    <button onclick = "Smoke('cocaine')">Smoke Cocaine</button>
    <h2>Global Stats</h2>
    Meth smoked: <span id="global_meth_smoked"></span><br>
    Cocaine smoked: <span id="global_coke_smoked"></span>
  </body>
</html>